.logo{
    width: 60px;
}
.search-bar{
    position: relative;
    width: 300px;
}
.search-bar input{
    padding: 6px;
    width: 100%;
    color: #01a3a4;
}
.search-bar i{
    font-size: 18px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    color: #01a3a4;
}
.searchProduct-show{
    background-color: #fff;
    position: absolute;
    width: 100%;
    padding: 40px 10px;
}
.searchProduct-show i{
    position: absolute;
    top: 20px;
    right: 4%;
    cursor: pointer;
    font-size: 20px;
    color: red;
}
.searchProduct-show ul li{
    list-style: none;
}
.searchProduct-show ul li a{
    margin: 5px 0;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #013a4a;
}
.searchProduct-show ul li img{
    width: 50px;
}
.wishNcart-icon i{
    font-size: 25px;
    color: #01a3a4;
    margin: 0 5px;
    position: relative;
    /* padding: 5px; */
}
.wishNcart-icon i span{
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: -10px;
    right: 0;
    padding-bottom: 5px;
}
.navbar-toggler{
    background-color: #01a3a4;
    border-radius: 5px;
}
.offcanvas{
    background-color: #ddd;
}
.offcanvas-title{
    font-size: 25px;
    font-weight: 700;
}
.navbar-nav a{
    color: #01a3a4;
    border-bottom: 1px solid #01a3a4;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
}
.navbar-nav a:hover{
    color: brown;
}


/* Responsive */

@media (max-width: 576px) {
    .logo{
        width: 30px;
    }
    .search-bar{
        width: 150px;
    }
    .wishNcart-icon i{
        font-size: 16px;
    }
}